{% extends "MokaApp/padre.html" %}
{% load static %}
{% block contenido_variable %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content = "IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> About me:  </title>
    </head>
<body>
    <p>Me llamo Tomas Agustin Fernandez, esta es mi entrega final del curso de Python. Me interesaria seguir por el camino de Data Science. 
    <br>
    Trabajo en ExxonMobil Argentina en el equipo de business analysis y estoy tratando de incorporar tech skills en mi perfil.
    <br>
    Soy profesional en Ciencias Economicas y mi objetivo a mediano/largo plazo es inclinar mi carrera profesional al area de Data.
    </p>
</body> 
</html>
{% endblock %}           